body{
    margin: 0;
    padding:0;
}

#header{
    border-bottom: 1px solid black;
    padding: 0 200px;
    display: flex;
    justify-content: space-evenly;
    
}
.header-bar{
    position: fixed;
    background-color: white;
    width: 100vw;
}
.logo{
    margin-top: 20px;
    margin-left: -100px;
}
.searchinput{
    height: 30px;
    width: 300px;
    margin-top: 10px;
    border: 1px solid grey;
}
.searchinput:focus{
    height: 30px;
    width: 300px;
    border: 1px solid grey;
}
.searchinput:active{
    height: 30px;
    width: 300px;
    border: 1px solid grey;
}
.i-heart{
    padding: 10px;
}
.profileimg{
    position: absolute;
    border-radius: 50%;
    top: 20px;
    margin-left: 10px;
}
.container{
    padding: 0 15vw;
    display: flex;
    justify-content: space-between;
}
.profile-detail{
    position: fixed;
    border: 1px solid black;
    margin-top: 50px;
    margin-left: 50%;
}
.profiledp{
border-radius: 50%;
padding: 5px;
}
.profiletag{
    display: flex;
    justify-content: left;
}
.profile{
display: flex;
justify-content: left;
width:20vw;
border: 1px solid black;
}
.profileinfo{
padding-left: 10px;
 font-family:Verdana, Geneva, Tahoma, sans-serif ;
}
.id-name{
    font-family:Verdana, Geneva, Tahoma, sans-serif ;

}
.profile-name{
margin-top: -10px;
color: grey;
}
.font-colo{
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
 color: grey;
}
.post-heading{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid lightgrey;
}
.dots{
    margin-top: -20px ;
}
.post{
    width: 35vw;
    border: 2px solid grey;
    margin-top: 50px;
}
.post-img{
    width: 600px;
    object-fit: cover;
}
/* media queries */
@media only screen and (max-width: 1024px) {
   
    #header{
        padding: 0px;
    }
    .container{
       padding: 10px;
   }
   .post{
       width: 55vw;
   }
   .post-img{
    width: 565px;
    object-fit: cover;
}
   .profile-detail{
       margin-left: 60%;
   }

  }
@media only screen and (max-width: 968px) {
    body {
      background-color: lightblue;
    }
    .profile-detail{
      visibility: hidden;
      width: 0;
      height: 0;
    }
  }

@media only screen and (max-width: 600px) {
    .searchinput{
        visibility: hidden;
        height: 0;
        width: 0;
    }
  }